body{
    margin: 0;
    padding: 0;
}

.header{
    
    text-align: center;
    background-image: url(/images/banner-img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.header h3{
    margin-bottom: 50px;
}
.orange-text{
    color: orangered;
}
.header h1{
    font-size: 80px;
    margin-bottom: 10px;
}

.header .banner-text {
    padding: 120px 220px;
    color: #fff;
}

.link-btn{
    padding: 15px 20px;
    background-color: rgb(241, 80, 80);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    
}




.donate-today{
    text-align: center;
}

.donate-today .donate-today-text {
    padding: 100px 300px 50px 300px;
}

.donate-today .donate-today-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.donate-today .donate-today-text h3 {
    color: gray;
}

#amount  {
    width: 150px;
    padding: 40px 0;
    text-align: center;
    background-color: rgb(240, 242, 243);
    margin: 0 10px 80px 10px; 
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    color: rgb(122, 121, 121);
    
}
.insert-tk p{
    color: rgb(192, 191, 191);
}

.insert-tk hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
    border-style: inset;
    border-width: 1px;
    border-color: 1px solid rgb(192, 191, 191);
    
}